body {
    margin: 0;
    font-family: sans-serif;
}

.header_content {
    margin-top: 56px;
    padding: 5px;
}

#data_content {
    margin: 0.5rem;
}

#data_content th {
    text-align: center;
    font-weight: bold;
}


/* a.syllabus {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0.2rem 0;
    padding: 0.1rem 0.3rem;
    color: rgb(0, 155, 229);
    border-radius: 1rem;
    background: linear-gradient( 30deg, rgba(0, 155, 229, 0.2), #fff);
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    display: inline-block;
} */

#time_table th {
    text-align: center;
}

.check_none_td {
    position: relative;
    table-layout: fixed;
}

.check_none_label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.check_none {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#time_table td:empty {
    background-color: #dddddd;
    /* 背景色     */
    /* ▼ 斜線はSVG画像を背景として設定 */
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJ3aWR0aDoxMDAlO2hlaWdodDoxMDAlOyI+PGxpbmUgeDE9IjEwMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSIgc3R5bGU9InN0cm9rZTogIzMzMzMzMztzdHJva2Utd2lkdGg6IDE7Ij48L2xpbmU+PC9zdmc+');
}