body {
    margin: 0;
    font-family: sans-serif;
}

.header_content {
    background: linear-gradient(90deg, rgba(0, 155, 229, 0.2), rgba(255, 255, 255, 1) 20%);
    padding: 5px;
}

header img {
    vertical-align: middle;
}

.hptitle {
    font-size: 30px;
    line-height: 50px;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: middle;
}

#data_content {
    margin: 0.5rem;
}

#data_content th {
    text-align: center;
    font-weight: bold;
}


/* a.syllabus {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    margin: 0.2rem 0;
    padding: 0.1rem 0.3rem;
    color: rgb(0, 155, 229);
    border-radius: 1rem;
    background: linear-gradient( 30deg, rgba(0, 155, 229, 0.2), #fff);
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    display: inline-block;
} */

#time_table th {
    text-align: center;
}